bin
gen
.ant-targets-build.xml
local.properties
build.properties
doc
*.zip
*.swp
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
build
*.iml
gradle
gradlew
.idea
wiki
gradle.properties
release.ks
/gradlew.bat

/SMSdroid/src/main/res/drawable-hdpi/Thumbs.db

/SMSdroid/src/main/res/drawable-ldpi/Thumbs.db

/SMSdroid/src/main/res/drawable-mdpi/Thumbs.db

/SMSdroid/src/main/res/drawable-xhdpi/Thumbs.db
